[alias]
    amend = commit --amend --reuse-message=HEAD
    branches = branch -a
    co = checkout
    contribs = shortlog --summary --numbered
    download = clone --depth 1 --single-branch
    jedi = push --force
    ls = ls-tree -rt --name-only HEAD
    remotes = remote -v
    st = status -sb
    tags = tag -l
    tree = log --abbrev-commit --all --decorate --graph --oneline
    unshallow = !git fetch --unshallow && git config remote.origin.fetch "+refs/heads/*:refs/remotes/origin/*" && git fetch && :

[color "diff-highlight"]
[color]
    ui = auto

[commit]
    gpgsign = true

[core]
    editor = nvim
    newHighlight = green bold 22
    newNormal = green bold
    oldHighlight = red bold 52
    oldNormal = red bold
    pager = diff-so-fancy | less --tabs=4 -RFX

[credential]
    helper = cache

[help]
    autocorrect = 1

[filter "lfs"]
    clean = git-lfs clean -- %f
    required = true
    smudge = git-lfs smudge -- %f

[push]
    default = simple

[user]
    email = ranisalt@gmail.com
    name = Ranieri Althoff
    signingkey = 5B5C826F4CC77499

[url "git@github.com:"]
    insteadOf = https://github.com/
