[submodule "bin/.local/bin"]
	path = bin/.local/bin
	url = git@github.com:ranisalt/a-fistful-of-scripts.git
[submodule "fonts/.local/share/fonts/powerline"]
	path = fonts/.local/share/fonts/powerline
	url = git@github.com:powerline/fonts.git
[submodule "vim/.vim/pack/scrooloose/start/nerdtree"]
	path = vim/.vim/pack/local/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/.vim/pack/tpope/start/surround"]
	path = vim/.vim/pack/local/start/surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/.vim/pack/tpope/start/sensible"]
	path = vim/.vim/pack/local/start/sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "vim/.vim/pack/tpope/start/repeat"]
	path = vim/.vim/pack/local/start/repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "vim/.vim/pack/tpope/start/commentary"]
	path = vim/.vim/pack/local/start/commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim/.vim/pack/morhetz/start/gruvbox"]
	path = vim/.vim/pack/local/opt/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule "vim/.vim/pack/ctrlpvim/start/ctrlp"]
	path = vim/.vim/pack/local/start/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim
[submodule "vim/.vim/pack/terryma/start/multiple-cursors"]
	path = vim/.vim/pack/local/start/multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule "vim/.vim/pack/pangloss/opt/javascript"]
	path = vim/.vim/pack/local/opt/javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "vim/.vim/pack/leafgarland/opt/typescript"]
	path = vim/.vim/pack/local/opt/typescript
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "vim/.vim/pack/editorconfig/start/editorconfig"]
	path = vim/.vim/pack/local/start/editorconfig
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "vim/.vim/pack/local/start/lightline"]
	path = vim/.vim/pack/local/start/lightline
	url = git@github.com:itchyny/lightline.vim.git
[submodule "vim/.vim/pack/local/start/devicons"]
	path = vim/.vim/pack/local/start/devicons
	url = git@github.com:ryanoasis/vim-devicons.git
