[submodule "fonts/.local/share/fonts/powerline"]
	path = fonts/.local/share/fonts/powerline
	url = https://github.com/powerline/fonts
[submodule "vim/.local/share/vim/pack/local/start/nerdtree"]
	path = vim/.local/share/vim/pack/local/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/.local/share/vim/pack/local/start/surround"]
	path = vim/.local/share/vim/pack/local/start/surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/.local/share/vim/pack/local/start/sensible"]
	path = vim/.local/share/vim/pack/local/start/sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "vim/.local/share/vim/pack/local/start/repeat"]
	path = vim/.local/share/vim/pack/local/start/repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "vim/.local/share/vim/pack/local/start/commentary"]
	path = vim/.local/share/vim/pack/local/start/commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim/.local/share/vim/pack/local/start/ctrlp"]
	path = vim/.local/share/vim/pack/local/start/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim
[submodule "vim/.local/share/vim/pack/local/start/multiple-cursors"]
	path = vim/.local/share/vim/pack/local/start/multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule "vim/.local/share/vim/pack/local/opt/javascript"]
	path = vim/.local/share/vim/pack/local/opt/javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "vim/.local/share/vim/pack/local/opt/typescript"]
	path = vim/.local/share/vim/pack/local/opt/typescript
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "vim/.local/share/vim/pack/local/start/editorconfig"]
	path = vim/.local/share/vim/pack/local/start/editorconfig
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "vim/.local/share/vim/pack/local/start/lightline"]
	path = vim/.local/share/vim/pack/local/start/lightline
	url = git@github.com:itchyny/lightline.vim.git
[submodule "vim/.local/share/vim/pack/local/start/devicons"]
	path = vim/.local/share/vim/pack/local/start/devicons
	url = git@github.com:ryanoasis/vim-devicons.git
[submodule "vim/.local/share/vim/pack/local/opt/nord"]
	path = vim/.local/share/vim/pack/local/opt/nord
	url = git@github.com:arcticicestudio/nord-vim.git
[submodule "vim/.local/share/vim/pack/local/start/jedi"]
	path = vim/.local/share/vim/pack/local/start/jedi
	url = git@github.com:davidhalter/jedi-vim.git
[submodule "vim/.local/share/vim/pack/local/start/lastplace"]
	path = vim/.local/share/vim/pack/local/start/lastplace
	url = https://github.com/farmergreg/vim-lastplace
[submodule "vim/.local/share/vim/pack/local/start/indent-guides"]
	path = vim/.local/share/vim/pack/local/start/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "vim/.local/share/vim/pack/local/start/gitgutter"]
	path = vim/.local/share/vim/pack/local/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/.local/share/vim/pack/local/start/fugitive"]
	path = vim/.local/share/vim/pack/local/start/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/.local/share/vim/pack/local/start/jsx-typescript"]
	path = vim/.local/share/vim/pack/local/start/jsx-typescript
	url = https://github.com/peitalin/vim-jsx-typescript
[submodule "vim/.local/share/vim/pack/local/start/go"]
	path = vim/.local/share/vim/pack/local/start/go
	url = https://github.com/fatih/vim-go
[submodule "vim/.local/share/vim/pack/local/start/jsx-pretty"]
	path = vim/.local/share/vim/pack/local/start/jsx-pretty
	url = https://github.com/maxmellon/vim-jsx-pretty
[submodule "vim/.local/share/vim/pack/local/start/javascript-libraries-syntax"]
	path = vim/.local/share/vim/pack/local/start/javascript-libraries-syntax
	url = https://github.com/othree/javascript-libraries-syntax.vim
