[submodule "fonts/.local/share/fonts/powerline"]
	path = fonts/.local/share/fonts/powerline
	url = https://github.com/powerline/fonts
[submodule "vim/.local/share/vim/pack/local/start/nerdtree"]
	path = vim/.local/share/vim/pack/local/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/.local/share/vim/pack/local/start/surround"]
	path = vim/.local/share/vim/pack/local/start/surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/.local/share/vim/pack/local/start/sensible"]
	path = vim/.local/share/vim/pack/local/start/sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "vim/.local/share/vim/pack/local/start/repeat"]
	path = vim/.local/share/vim/pack/local/start/repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "vim/.local/share/vim/pack/local/start/commentary"]
	path = vim/.local/share/vim/pack/local/start/commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim/.local/share/vim/pack/local/opt/javascript"]
	path = vim/.local/share/vim/pack/local/opt/javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "vim/.local/share/vim/pack/local/start/multiple-cursors"]
	path = vim/.local/share/vim/pack/local/start/multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule "vim/.local/share/vim/pack/local/start/editorconfig"]
	path = vim/.local/share/vim/pack/local/start/editorconfig
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "vim/.local/share/vim/pack/local/start/lightline"]
	path = vim/.local/share/vim/pack/local/start/lightline
	url = git@github.com:itchyny/lightline.vim.git
[submodule "vim/.local/share/vim/pack/local/start/devicons"]
	path = vim/.local/share/vim/pack/local/start/devicons
	url = git@github.com:ryanoasis/vim-devicons.git
[submodule "vim/.local/share/vim/pack/local/start/lastplace"]
	path = vim/.local/share/vim/pack/local/start/lastplace
	url = git@github.com:farmergreg/vim-lastplace.git
[submodule "vim/.local/share/vim/pack/local/start/indent-guides"]
	path = vim/.local/share/vim/pack/local/start/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "vim/.local/share/vim/pack/local/start/gitgutter"]
	path = vim/.local/share/vim/pack/local/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/.local/share/vim/pack/local/start/fugitive"]
	path = vim/.local/share/vim/pack/local/start/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/.vim/pack/local/start/gitgutter"]
	path = vim/.local/share/vim/pack/local/opt/gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "vim/.local/share/vim/pack/local/opt/indent-guides"]
	path = vim/.local/share/vim/pack/local/opt/indent-guides
	url = git@github.com:nathanaelkane/vim-indent-guides.git
