[Unit]
Description=Dropbox daemon
After=network.target xorg.target

[Service]
Environment=DISPLAY=:0
ExecStart=/home/ranieri/.dropbox-dist/dropboxd
ExecStop=/usr/bin/kill -HUP $MAINPID

[Install]
WantedBy=default.target
