[Unit]
Description=Unified Remote server
After=network.target

[Service]
Type=forking
ExecStart=/home/ranieri/.local/bin/urserver --daemon --pidfile=/tmp/urserver.pid
PIDFile=/tmp/urserver.pid

[Install]
WantedBy=default.target
