#
# SPDX-License-Identifier: GPL-3.0-or-later

[Match]
Name=wlp*
Name=wlan*

[Network]
DHCP=yes
IPForward=kernel
IPv6PrivacyExtensions=kernel

[DHCP]
RouteMetric=1024
