* {
    border: none;
    border-radius: 0;
    font-family: sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0.85);
    color: #ffffff;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: rgba(235, 219, 178, 0.15);
    border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
    background: rgba(251, 73, 52, 0.15);
}

#window, #clock, #battery, #temperature, #network, #pulseaudio, #tray {
    padding: 6px 10px;
    margin: 0 5px;
}

#battery.charging {
    background: rgba(69, 133, 136, 0.85);
}

@keyframes blink {
    to {
        background: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background: rgba(251, 73, 52, 0.85);
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    background: rgba(251, 73, 52, 0.85);
}

#pulseaudio.muted {
    color: #2a5c45;
}

#temperature.critical {
    background: rgba(251, 73, 52, 0.85);
}
