! Badwolf
#define   plain            #f8f6f2
#define   snow             #ffffff
#define   coal             #000000

#define   brightgravel     #d9cec3
#define   lightgravel      #998f84
#define   gravel           #857f78
#define   mediumgravel     #666462
#define   deepgravel       #45413b
#define   deepergravel     #35322d
#define   darkgravel       #242321
#define   blackgravel      #1c1b1a
#define   blackestgravel   #141413

#define   dalespale        #fade3e
#define   dirtyblonde      #f4cf86
#define   taffy            #ff2c4b
#define   saltwatertaffy   #8cffba
#define   tardis           #0a9dff
#define   orange           #ffa724
#define   lime             #aeee00
#define   dress            #ff9eb8
#define   toffee           #b88853
#define   coffee           #c7915b
#define   darkroast        #88633f

rofi.lines: 5

URxvt*.background: [80]blackestgravel
URxvt*.foreground: plain
URxvt*.cursorColor: lime
URxvt*.fadeColor: snow
URxvt*.scrollColor: deepgravel
URxvt*.color0: blackestgravel
URxvt*.color1: taffy
URxvt*.color2: lime
URxvt*.color3: dalespale
URxvt*.color4: tardis
URxvt*.color5: dress
URxvt*.color6: saltwatertaffy
URxvt*.color7: brightgravel
URxvt*.color8: plain
URxvt*.color9: taffy
URxvt*.color10: lime
URxvt*.color11: orange
URxvt*.color12: tardis
URxvt*.color13: dress
URxvt*.color14: saltwatertaffy
URxvt*.color15: snow

URxvt*.letterSpace: -2
URxvt*.lineSpace: -1

URxvt*.depth: 32
URxvt*.fading: 20
URxvt*.scrollBar: false
URxvt*.scrollTtyKeypress: true
URxvt*.scrollTtyOutput: false
URxvt*.scrollWithBuffer: false

URxvt*.font: xft:Fira Mono for Powerline:size=10

URxvt*.perl-ext-common: default,resize-font,tabbedex
URxvt*.resize-font.bigger: C-Up
URxvt*.resize-font.smaller: C-Down
URxvt*.tabbed.autohide: true
URxvt*.tabbed.new-button: false

Xft*.dpi: 96
Xft*.antialias: true
Xft*.autohint: false
Xft*.hinting: true
Xft*.hintstyle: hintfull
Xft*.lcdfilter: lcddefault
Xft*.rgba: rgb
